@import 'src/sass/variables';
@import 'src/sass/mixins';

.container-box {
    display: flex;
    flex-direction: column;   
    height: 55vh;
    border: 2px solid black;
    padding: 1rem 1rem;
}

@media (min-width: 768px) {
    .container-box {
        height: 85vh;
    }
}


.container-box > .header-container {
    display: flex;
    flex-direction: row;
    font-size: $default-font-size;
    padding-top: 5px;
    justify-content: space-evenly; //Find better spacing
}

