$primary-colour: #F0FFFF;
$border-dark: rgba(black, 0.88);

$default-font-size: 1rem;

$btn-colour: green;
$btn-hover: blue;
$selected-btn: red;
$input-color: gray;

$innertext: black;

$menu-height: 90vh;
$mobile-menu-height: 29vh;
$mobile-edit-menu-height: 59vh