.list-container {
    height: 400px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 25px;
    border-style: solid;
    background-color: white;
    overflow-y: scroll;
    padding: 20px 20px;
}

.list-container > h3 {
    padding: 3px 3px;
    text-align: center;
    border-style: solid;

}
