<div class="list-container mat-elevation-z8">
    <h3>QuickSearch</h3>
    <mat-form-field>

        <input matInput placeholder="Search Items" #input>

    </mat-form-field>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>  
    <mat-table #table [dataSource]="dataSource" matSort>  
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="container_name">
            <mat-header-cell *matHeaderCellDef> Container</mat-header-cell>
            <mat-cell *matCellDef="let item" ><button class="btn btn-primary" (click)="getContainer(item.rel.link)"> {{item.rel.name}}</button> </mat-cell>
          </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
