<div class="filter-list category-list">
    <h4 class="header">Categories</h4>
    <div class="btn" (click)="sendCategory()">All</div>
    <ul class="item-list">
        <li class="item" *ngFor="let category of data.categories">
            <div class="btn category-selector" id="{{category.name}}" (click)="sendCategory(category.name)"> {{ category.name }}</div>
        </li>
    </ul>
</div>

<div class="filter-list location-list">
    <h4 class="header">Location</h4>
    <div class="btn" (click)="sendLocation()">All</div>
    <ul class="item-list">
        <li class="item" *ngFor="let location of data.locations">
            <div class="btn location-selector" id="{{location.name}}" (click)="sendLocation(location.name)"> {{ location.name }}</div>
        </li>
    </ul>
</div>